<div id="timeline-div">

    <mat-icon id="start-icon">keyboard_arrow_left</mat-icon>
    <div id="timeline-line"></div>
    <div id="kill-container-div">
        <div id="kill-div" *ngFor="let kill of roundInfos.kills">
            <div [ngStyle]="computeStyle()" id="timeline-line"></div>
            <div id="kill-img-div">
                <img id="kill-img" class="grow" matTooltip="{{kill.attackerName}}" mat-card-image src="../../../assets/img/skull.png">
            </div>
            <!--<mat-icon matTooltip="{{kill.attackerName}}" class="grow" id="kill-icon">adjust</mat-icon>-->
            <div [ngStyle]="computeStyle()" id="timeline-line"></div>
        </div>
    </div>
    <div id="timeline-line"></div>
    <mat-icon id="start-icon">keyboard_arrow_right</mat-icon>
</div>
