# main dir
node_modules
server-api-node
output.ts
radio.mp3
test.html

# compiled output
client-angular/dist
client-angular/tmp
client-angular/out-tsc

# Only exists if Bazel was run
client-angular/bazel-out

# dependencies
client-angular/node_modules

# profiling files
client-angular/chrome-profiler-events*.json
client-angular/speed-measure-plugin*.json

# IDEs and editors
client-angular/.idea
client-angular/.project
client-angular/.classpath
client-angular/.c9/
client-angular/*.launch
client-angular/.settings/
client-angular/*.sublime-workspace

# IDE - VSCode
client-angular/.vscode/*
client-angular/!.vscode/settings.json
client-angular/!.vscode/tasks.json
client-angular/!.vscode/launch.json
client-angular/!.vscode/extensions.json
client-angular/.history/*

# misc
client-angular/.sass-cache
client-angular/connect.lock
client-angular/coverage
client-angular/libpeerconnection.log
client-angular/npm-debug.log
client-angular/yarn-error.log
client-angular/testem.log
client-angular/typings

# System Files
client-angular/.DS_Store
client-angular/Thumbs.db
.DS_Store
Thumbs.db
pitch.pages

# Others
server-api-node/tests/
client-angular/src/app/services/models/ServerInfos.ts
client-angular/dist
server-api-node/database/matches.db
server-api-node/database/

server/src/CREDENTIALS.ts
server/matches/
server/logs/*
backups
server/db/*
*.log
*.db

server/logs/demos.log
server/logs/main.log
server/logs/server.log
server/logs/demos_reading.log
server/logs/error.log
server/logs/errors.log
server/db/reset_db.sql
server/db/matches.db
