<div id="main-page">
    <div id="scrolling-div">
        <cdk-virtual-scroll-viewport itemSize="50" class="main-viewport">
            <app-round-infos-widget 
                *ngFor="let roundInfos of rounds"
                #roundInfosWidget 
                class="round-infos-card-widget"
                [roundInfos]=roundInfos
                (selectActionEvent)="selectAction($event)"
                (selectRoundEvent)="selectRound($event)">
            </app-round-infos-widget>
        </cdk-virtual-scroll-viewport>
    </div>

    <div class="twitch-player-container">
        <mat-card id="top-infos-card" *ngIf="!playerLoading">
            <p *ngIf="!roundId">Select a round on the left panel !</p>

            <app-round-timeline id="round-timeline" #roundTimeline *ngIf="currentRoundInfos" [roundInfos]="currentRoundInfos"></app-round-timeline>

            <button mat-icon-button id="issue-button" [matMenuTriggerFor]="menu">
                <mat-icon>report</mat-icon>
                Report an issue
            </button>

            <button mat-icon-button id="back-button" routerLink="/match-selection">
                <mat-icon>home</mat-icon>
                Home
            </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="reportIssue(1)">Wrong twitch stream</button>
                <button mat-menu-item (click)="reportIssue(2)">Incorrect round timings</button>
                <button mat-menu-item (click)="reportIssue(3)">Multikills are wrong</button>
                <button mat-menu-item (click)="reportIssue(4)">Other</button>
            </mat-menu>
        </mat-card>
        <app-twitch-player #twitchPlayer startVideoTime={{gameInfos.startVideoTime}}></app-twitch-player>
    </div>
</div>