
<img (click)="selectMap()" id="map-img" mat-card-image src="../../../assets/maps_img/{{map.map_name}}.jpg" alt={{map.map_name}}>

<div id="map-infos-div">
    <div id="map-number-div">
        <p id="map-number-text">
            Map {{map.map_number}}
        </p>
        <mat-icon *ngIf="map.available == 'yes'" id="downloaded-icon" inline="true" aria-label="Match downloaded">
            offline_pin
        </mat-icon>
        <mat-icon *ngIf="map.available == 'no'" id="not-downloaded-icon" inline="true" aria-label="Match not downloaded">
            cloud_download
        </mat-icon>
    </div>

    <p id="map-score-text">
        {{map.score}}
    </p>
</div>

