#last-match-div{
    z-index: 10;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 55%;
    border-radius: 3px;
    background-color: #292929;
}

#main-page {
    display: flex;
    justify-content: center;
}

#input-field {
    width: 100%;
    margin-left: 20px;
}

#valid-button {
    margin: 10px;
    color: limegreen;
}

#matchinfos-div {
    width: 90%;
    max-width: 500px;
    margin: 5px 5px 5px 5px;
}

#matchinfos-container {
    height: fit-content;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto 10px auto;
    width: fit-content;
}

#no-matches-error-div {
    margin: 0 auto 0 auto;
    text-align: center;
}

#no-matches-error-text {
    font-size: x-large;
    margin-top: 20px;
    color: white;
}

#no-matches-error-icon {
    color: white;
    font-size: 36px;
}

#map-selection-div {
    display: flex;
    width: 500px;
    text-align: center;
    margin: 20px auto 0 auto;
}

#loading-div {
   width: fit-content;
   height: fit-content;
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#list-loading-spinner {
    margin: 30px auto 0 auto;
}

#list-toolbar {
    justify-content: center;
}

#date-span {
    margin: 0 20px 0 20px;
}

#date-picker {
    width: 30px;
}

#add-panel {
    background-color: #292929;
}

#add-match-icon {
    margin-right: 10px;
}

#menu-bar {
    z-index: 10;
}

#input-div {
    width: 100%;
    display:flex;
    flex-direction: row;
}

.app-match-infos-widget {
    width: 100%;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
    width: fit-content;
    padding-right: 1%;
    padding-left: 1%;
}

.mat-badge-warn .mat-badge-content {
    border-radius: 10px;
}


@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.circles{
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    margin: 0;
    overflow: hidden;
    z-index: 0;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.circles li:nth-child(11){
    left: 43%;
    width: 68px;
    height: 68px;
    animation-delay: 0s;
    animation-duration: 7s;
}

.circles li:nth-child(12){
    left: 46%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 17s;
}

.circles li:nth-child(13){
    left: 30%;
    width: 10px;
    height: 10px;
    animation-delay: 10s;
    animation-duration: 6s;
}

.circles li:nth-child(14){
    left: 10%;
    width: 120px;
    height: 120px;
    animation-delay: 12s;
    animation-duration: 24s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}