#maintenance-div {
    margin: 20px auto 0 auto;
    width: fit-content;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintenance-text {
    font-size: 40px;
    display: flex;
    color: white;
}

.maintenance-icon {
    font-size: 40px;
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
}