#about-button {
    font-size: 20px;
    right: 5px;
}

#main-title-highlit {
    font-variant: all-small-caps;
    font-size: 50px;
    margin-right: 10px;
}

#main-title-me {
    font-variant: all-small-caps;
    font-size: 50px;
    margin-left: 35px;
}

#menu-toolbar {
    height: 80px;
}

#title-div {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

#title-label {
    position: relative;
    bottom: 10px;
    height: 15px;
    font-size: 15px;
}

#title-icon-div {
    display: flex;
    align-self: baseline;
}

#title-icon {
    font-size: 50px;
    position: relative;
    bottom: 10px;
}

#match-selection-icon {
    font-size: 40px;
    position: relative;
    bottom: 10px;
    margin: 10px 20px 10px 0;
    cursor: pointer;
}