<mat-toolbar id="menu-toolbar">
    <div id="buttons-div">
        <button id="match-selection-button" matTooltip="Match selection" disableRipple="true" routerLink="/match-selection" mat-icon-button>
            <mat-icon id="match-selection-icon">video_library</mat-icon>
        </button>
        <button id="about-button" matTooltip="About page" disableRipple="true" routerLink="/about" mat-icon-button>
            <mat-icon id="about-icon">help</mat-icon>
        </button>
    </div>
        <img id="banner-img" mat-card-image src="assets/img/highlit-banner-small.png">
    <div id="contact-div">
        <a href="https://github.com/Minifixio" target="_blank">
            <img id="github-img" mat-card-image src="assets/img/github.png">
        </a>
        <a href="https://twitter.com/minifixio" target="_blank">
            <img id="twitter-img" mat-card-image src="assets/img/twitter.png">
        </a>
    </div>

</mat-toolbar>

