.input-card {
    margin: 10px;
    text-align: center;
    width: 40%;
}

.input-field {
    width: 400px;
}

.action-button {
    margin: 10px;
}

#main-page{
    align-items: center;
    display: flex;
    flex-direction: column;
}