
#match-container-div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 90%;
    border-radius: 3px;
    background-color: #292929;
}

#main-page {
    display: flex;
    justify-content: center;
}

#about-button {
    position: absolute;
    right: 0;
}

#input-field {
    width: 80%;
    margin-left: 20px;
}

#valid-button {
    margin: 10px;
}

#matchinfos-div {
    width: 100%;
    max-width: 600px;
    margin: 5px 5px 5px 5px;
}

#matchinfos-container {
    height: fit-content;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

#no-matches-error-div {
    text-align: center;
}

#no-matches-error-text {
    font-size: x-large;
    margin-top: 20px;
    color: white;
}

#no-matches-error-icon {
    color: white;
    font-size: 36px;
}

#map-selection-div {
    display: flex;
    width: 500px;
    text-align: center;
    margin: 20px auto 0 auto;
}

#loading-div {
    position: absolute;
    right: 50%;
    top: 40px;
}

#page-loading-spinner {
    margin-left: 20px;
}

#list-loading-spinner {
    margin: 30px auto 0 auto;
}

#list-toolbar {
    justify-content: center;
}

#date-span {
    margin: 0 20px 0 20px;
}

#date-picker {
    width: 30px;
}

#add-panel {
    background-color: #292929;
}

#add-match-icon {
    margin-right: 10px;
}
