<mat-card *ngIf="!loading" class="input-card">
    <mat-form-field class="input-field">
        <mat-label>HLTV match link</mat-label>
        <input matInput cdkTextareaAutosize placeholder="Twitch link" [(ngModel)]="inputLink">
    </mat-form-field>
    <button class='action-button' (click)="hltvLinkAdded()" mat-raised-button color="warn">Validate !</button>
</mat-card>

<div id="main-page">
    <div *ngIf="!loading" id="matchinfos-container">
        <div id="matchinfos-div" *ngFor="let match of lastMatches | async">
            <app-match-infos-widget #matchInfosWidget [matchInfos]=match (mapSelected)="selectMap($event)"></app-match-infos-widget>
        </div>
    </div>
</div>

<mat-spinner *ngIf="loading"></mat-spinner>

<mat-label *ngIf="downloadPercentage !== 0">Download percentage : {{downloadPercentage}} %</mat-label>
<mat-label *ngIf="parsingRound !== 0">Parsing round n° {{parsingRound}}</mat-label>