.mat-typography {
    background-color: #3a3a3a;
}

#main-page {
    display: flex;
    justify-content: center;
}

#multiple-kills-text {
    font-size: 13px;
    margin-left: 8px;
    margin: -6px 0 -6px 8px;
    cursor: pointer;
}

#lot-of-kill-chip {
    margin: 0 auto 0 auto;
    background-color: #0aa700;
}

#about-button {
    position: absolute;
    right: 0;
}

#not-downloaded-icon {
    color: crimson;
    margin: 0 20px 0px 0;
    font-size: 40px;
}

#downloaded-icon {
    color: limegreen;
    margin: 0px 20px 0px 0;
    font-size: 40px;
}

#kills-chip {
    margin: 0 auto 10px auto;
    width: 90%;
    text-align: center;
}

#kill-img {
    position: relative;
    width: 35px;
    top: 18px;
}

#kill-img-div {
    width: 30px;
    margin-top: 15px 10px 0 5px;
}

#video-iframe {
    width: 80%;
    height: 100%;
    border: 7px solid #212121;
    border-radius: 10px;
}

#video-div {
    width: 100%;
    height: 90%;
    margin: 10px auto 50px auto;
    text-align: center;
}

.chip-list-kills {
    margin: auto 0 auto 0;
}

.infos-div {
    font-size: 16px;
    padding: 10px;
}

.mat-card {
    padding: 0;
    margin: 10px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

ol {
    font-size: x-large;
}

.mat-title {
    font-size: 20px;
}

.title-toolbar {
    border-radius: 5px;
    text-transform: uppercase;
    height: 10%;
}

.multi-kills-chip {
    min-height: 30px;
    background-color: #5d79ae;
}

.twitch-text {
    margin:0;
    font-size: 13px;
}

.kills-text {
    margin:0;
}

.hype-icon {
    margin-right: 2px;
}

.twitch-hype-chip {
    min-height: 20px;
    margin: 0 auto 0 auto;
    width: 70px;
    background-color: #424242;
}

.twitch-hype-chip-list {
    margin-top: 13px;
}

#ace-kills-chip {
    min-height: 30px;
    background-color: #ff1414;
    margin-right: auto;
    margin-left: auto;
}

#quad-kills-chip {
    min-height: 30px;
    background-color: #ca09ec;
    margin-right: auto;
    margin-left: auto;
}

#triple-kills-chip {
    min-height: 30px;
    background-color: #ff8d0091;
    margin-right: auto;
    margin-left: auto;
}

.figures-div {
    display: flex;
    margin: 3px 5px 3px 5px;
    padding: 20px;
    background: #313131;
    border-radius: 20px;
}

.chip-desc-text {
    margin: auto 0px auto 15px;
    text-align: left;
}

.download-text {
    margin-bottom: 0;
    text-align: center;
}

.hint-center-text {
    text-align: center;
    margin-top: 10px;
}

.multiple-icons-div {
    display: flex;
}

b {
    font-weight: 800;
    text-transform: uppercase;
}
