<div id="buy-infos-div">
    <div class="team-buy-infos-div">
        <div class="weapon-img-div" id="t-weapon-img-div">
            <img class="weapon-img" mat-card-image [src]="buyInfos.t.url">
        </div>
        <div class="value-div" id="t-value-div">{{buyInfos.t.value}} $</div>
    </div>

    <div id="divider"></div>

    <div class="team-buy-infos-div">
        <div class="weapon-img-div" id="ct-weapon-img-div">
            <img class="weapon-img" mat-card-image [src]="buyInfos.ct.url">
        </div>
        <div class="value-div" id="ct-value-div">{{buyInfos.ct.value}} $</div>   
    </div>

</div>

