#maps-div {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

#score-div {
    display: flex;
    height: 15px;
    margin: auto 0 auto 0;
    flex-grow: 1;
    height: fit-content;
    flex-wrap: wrap;
}

#not-downloaded-icon {
    color: crimson;
    margin-right: 10px;
}

#downloaded-icon {
    color: limegreen;
    margin-right: 10px;
}

#loading-spinner {
    margin: 5px auto 10px auto;
}

#card-title {
    margin: auto 0 auto 0;
}

#desc-text {
    text-align: end;
    font-size: 12px;
    margin: 0;
}

.map-infos-widget {
    flex-grow: 0;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-text {
    margin: 0;
    font-weight: bold;
}

.team-text {
    margin: 0;
    font-weight: lighter;
    text-align: center;
}

.mat-expansion-panel-header-description {
    flex-grow: 0;
}

.mat-expansion-panel-header {
    padding: 0 12px;
}

.mat-icon.mat-icon-inline {
    font-size: x-large;
}

.team-logo-img {
    width: 20px;
    margin: 0;
}