
<mat-card 
    [style.border-color]="cardColor" 
    class="round-infos-card" 
    (mouseover)="hoverCard(true)"
    (mouseleave)="hoverCard(false)">

    <div (click)="selectRound()" [style.background-color]="cardColor" id="round-number-div">
        <p id="round-number-p">{{roundInfos.round_number}}</p>
        <mat-icon id="round-number-icon">play_circle_outline</mat-icon>
    </div>
    <app-end-round-reason-widget #roundEndReasonWidget [roundEndReason]="roundInfos.end_reason" [winningTeam]="roundInfos.winning_team.side" id="end-round-reason-widget"></app-end-round-reason-widget>

    <div id="top-infos-div">
        <app-buy-infos-widget #buyInfosWidget [buyInfos]="roundInfos.buy" id="buy-infos-widget"></app-buy-infos-widget>
        <app-round-kills-widget #roundKillsWidget [kills]="roundInfos.kills" id="round-kills-widget"></app-round-kills-widget>    
    </div>

    <div id="divider" *ngIf="multiKill"></div>

    <div id="bottom-infos-div" *ngIf="multiKill">
        <mat-chip-list>

            <mat-chip (click)="selectAction(triple.kills[0].time)" class="triple-chip" *ngFor="let triple of roundInfos.multiple_kills.triples">
                <mat-icon class="multi-play-icon">play_circle_outline</mat-icon>
                <p class="amount-kill-p">x3</p>
                <p class="attacker-kill-p">{{triple.attacker_name}}</p>
            </mat-chip>

            <mat-chip (click)="selectAction(quad.kills[0].time)" class="quad-chip" *ngFor="let quad of roundInfos.multiple_kills.quads">
                <mat-icon class="multi-play-icon">play_circle_outline</mat-icon>
                <p class="amount-kill-p">x4</p>
                <p class="attacker-kill-p">{{quad.attacker_name}}</p>
            </mat-chip>

            <mat-chip (click)="selectAction(ace.kills[0].time)" class="ace-chip" *ngFor="let ace of roundInfos.multiple_kills.aces">
                <mat-icon class="multi-play-icon">play_circle_outline</mat-icon>
                <p class="amount-kill-p">ACE</p>
                <p class="attacker-kill-p">{{ace.attacker_name}}</p>
            </mat-chip>

            <mat-chip (click)="selectAction(roundInfos.clutch.time)" class="clutch-chip" *ngIf="roundInfos.clutch">
                <mat-icon class="multi-play-icon">play_circle_outline</mat-icon>
                <p class="amount-kill-p">1vs{{roundInfos.clutch.vs}}</p>
                <p class="attacker-kill-p">{{roundInfos.clutch.player}}</p>
            </mat-chip>

        </mat-chip-list>
    </div>
</mat-card>

<mat-card id="switching-sides-card" *ngIf="roundInfos.round_number == 15">
    <p> Switching sides </p>
    <mat-icon>import_export</mat-icon>
</mat-card>
