<app-menu-bar *ngIf="!pageLoading" id="menu-bar" #menuBar></app-menu-bar>

<div id="main-page" *ngIf="!pageLoading">
    <div id="last-match-div">
        <mat-expansion-panel id="add-panel" (closed)="panelClosed()">
            <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon inline="true" id="add-match-icon">add_circle</mat-icon>
                        Add a new match
                    </mat-panel-title>
            </mat-expansion-panel-header>
            <div id="input-div">
                <mat-form-field id="input-field">
                    <mat-label>HLTV match link</mat-label>
                    <input matInput cdkTextareaAutosize placeholder="HLTV match link" [(ngModel)]="inputLink">
                </mat-form-field>
                <button id='error-button' (click)="showErrorToast('This service will be soon available...', null)" mat-stroked-button color="warn">Not available for now</button>
                <!--<button id='valid-button' mat-stroked-button (click)="hltvLinkAdded()">OK</button>-->
            </div>
            <div *ngIf="mapsToSelect" id="map-selection-div">
                <app-map-infos-widget id="map-infos-widget" *ngFor="let map of mapsToSelect" #selectMapWidget (mapSelected)="addMap($event)" [map]="map"></app-map-infos-widget>
            </div>
            
        </mat-expansion-panel>

        <mat-toolbar id="list-toolbar">

            <button disableRipple="true" mat-button (click)="changePage('backward')">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>

            <span id="date-span">{{currentDate | date:'MMMM d yyyy'}}</span>

            <mat-form-field id="date-picker">
                <input matInput [matDatepicker]="picker" (dateChange)="pickDate($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <button mat-button (click)="changePage('forward')">
                <mat-icon *ngIf="currentPage > 0">keyboard_arrow_right</mat-icon>
            </button>

        </mat-toolbar>


        <div *ngIf="!pageLoading && !listLoading" id="matchinfos-container">

            <div id="matchinfos-div" *ngFor="let match of currentMatches" [matBadge]="getMatchStars(match.stars)" matBadgeColor="warn" [matBadgeHidden]="match.stars == 0 ? true: false">
                <app-match-infos-widget #matchInfosWidget (click)="closePanels(match.match_id)" [matchInfos]=match (mapSelected)="selectMap($event)" class="app-match-infos-widget"></app-match-infos-widget>
            </div>

        </div>

        <div id="no-matches-error-div" *ngIf="currentMatches.length == 0 && !listLoading">
            <mat-icon id="no-matches-error-icon" inline="false">sentiment_very_dissatisfied</mat-icon>
            <p id="no-matches-error-text">{{listErrorMessage}}</p>
        </div>

        <div id="list-loading-spinner-div">
            <mat-spinner *ngIf="listLoading" id="list-loading-spinner"></mat-spinner>
        </div>

    </div>

    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<div *ngIf="pageLoading" id="loading-div">
    <mat-spinner id="page-loading-spinner"></mat-spinner>
    <mat-label *ngIf="downloadPercentage !== 0">Download percentage : {{downloadPercentage}} %</mat-label>
    <mat-label *ngIf="parsingRound !== 0">Parsing round n° {{parsingRound}}</mat-label>
</div>

